form{
    background-color: brown;
    padding:15px 10px;
}
input{
    width:250px;
    height:35px;
}
button{
    width:150px;
    padding:10px;
    color:white;
    background-color: rgb(191, 81, 81);
}
h1{
    background-color: rgb(4, 5, 18);
    color:white;
    padding:15px;
    border-radius: 10px;
}
body{
    background:url('./background.jpg') no-repeat center center /cover;
    height: 100vh;
}